<h1> Welcome! </h1>
<h2> Fill in your Login Information or Signup </h2>
<div class="forms">
<%= form_for :session, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>
<% end %> <br/>
</div>
<h2> No Login Info? Signup! </h2>

<%=button_to "Signup", signup_path, method: :get%>
 <br/>
  <br/>
   <br/>
 <% if flash[:message] %>
 <%= flash[:message]="incorrect details"%>
 <%end%>
<img class= "account_image" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a010-markusspiske-jan19-msp_1901_4189.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=923c6aeea6cfcf42101c767900503cc4">