<h1> Create Visit With New Grocery Store </h1>
<div class="forms">
<%= form_for @visit do |f| %><br/>
<%= f.label "User:" %> <%=@visit.user.name%><br/>

<%if current_user.id==1%>
<%= f.label "Make a New Grocery Store (Admin Only):" %><br/>
 <%= f.fields_for :grocery_store, @visit.build_grocery_store do |grocery_stores_fields| %>
    <%= f.label "Grocery Store Chain:" %>
    <%= grocery_stores_fields.text_field :chain %>
    <%= f.label "Grocery Store Address:" %>
    <%= grocery_stores_fields.text_field :address %><br/>
  <% end %>
<%end%>

<%= f.label "Date of Visit:" %> 
<%= f.date_select(:date, :order => [:month, :day, :year]) %><br/>
<%= f.label "Select Missing Items:" %> <br/>
<%= fields_for :grocery_store, @visit.grocery_store do |f| %>
  <%= f.collection_check_boxes :item_ids, Item.all, :id, :name do |b| %>
        <%= b.label class:"label-checkbox" do%>
         <%=b.check_box + b.text%>
        <%end%>
    <% end %>
  <% end %>
  <br/>
  <%= f.label "Notes:" %><br/>
  <%= f.text_area :notes %><br/>
  <%= f.submit %><br/>
  <% end %>
</div>
  <%if flash[:error_messages]%>
<%flash[:error_messages].each do |error| %><br/>
<%=error%>
<%end%>
<%end%>
<img class= "account_image" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a010-markusspiske-jan19-msp_1901_4189.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=923c6aeea6cfcf42101c767900503cc4">