<h1> Edit Your Account Information </h1>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "Edit" %>
<% end %>
