
<h1>Hi there, <%= @user.name %>!</h1>
<h3>Your Address: <%= @user.address %></h3>
<h3>Your Email: <%= @user.email%></h3>

<h2> Recent Visits: </h2>
<ol>
<% @user.ordered_visits.each do |visit| %>
<li>Grocery Store Visit on <%=link_to visit.date.strftime("%d of %B, %Y"), visit_path(visit)%> </li>
<%end %>
</ol>

<div class= "buttons">

<%=button_to "Submit New Visit", '/visits/new', method: "get"%>
<%=button_to "Edit your Account", "/users/#{@user.id}/edit", method: "get"%>
<%=button_to "Logout", logout_path, method: 'post'%>
<div>