
<%if @user.notify%>
<div id="notification">
<h1> NOTIFICATION: YOU SHARED A GROCERY STORE VISIT WITH SOMEONE WITH COVID!! </h1>
<%= button_to "Dismiss", user_path(@user), method: :get, params: {click: :true} %>
<%end%>
</div>

<h1>Hi There, <%= @user.name %>!</h1>

<%if current_user.admin %>
<h2 style="font-style: italic;"> This is an Admin Account </h2>
<%end%>

<h3> Contact Information: </h3>
<p>Your Address: <%= @user.address %><br/>Your Email: <%= @user.email%></p>

<h2> Recent Visits: </h2>
<ol>
<% @user.ordered_visits.each do |visit| %>
<li>Grocery Store Visit on <%=link_to visit.date.strftime("%d of %B, %Y"), visit_path(visit)%> </li>
<%end %>
</ol>

<div class= "buttons">

<%=button_to "Submit New Visit", '/visits/new', method: "get"%>
<%if current_user.admin %>
<%=button_to "Submit New Visit with New Grocery Store", '/visits/new', method: "get", params: {admin: :true}%>
<%end%>
<%=button_to "Edit your Account", "/users/#{@user.id}/edit", method: "get"%>
<%=button_to "Logout", logout_path, method: 'post'%>
</div>

<img class= "account_image" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a010-markusspiske-jan19-msp_1901_4189.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=923c6aeea6cfcf42101c767900503cc4">
