<h1> List of Items </h1>

<div class="search">
<%= form_tag items_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
</div>

<div class="row">
<% @items.each do |item| %>
<div class="card" style="width: 12rem;">
  <div class="card-body">
    <h5 class="card-title"><%=link_to item.name, item_path(item)%></h5>
     <h6><%=item.category%><br/></h6>
  </div>
</div>
<%end%>
</div>
