<h1 style="display:inline;"><%= @store.chain %></h1> <h3 style="display:inline;"><%= @store.address%></h3>
<br/>
<h3> Missing Items: </h3>
<ul> <%@store.items.each do |item| %>
<li><%=item.name%> </li>
<%end%>
</ul>

<h2> Recent Visits: </h2>
<ol>
<% @store.ordered_visits.each do |visit| %>
<li><%= link_to visit.date.strftime("%d of %B, %Y"), visit_path(visit)%> By: <%= visit.user.name%></li>
<ul><li>Notes: <%= visit.notes%> </li></ul>
<%end%>
</ol>

<h4><%=link_to "Go back to all grocery stores", grocery_stores_path %></h4>
<img class= "account_image" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a010-markusspiske-jan19-msp_1901_4189.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=923c6aeea6cfcf42101c767900503cc4">